/*Configurar el fondo de la pagina*/
body{
     /* 
     La siguiente linea se utiliza para dar un color de fondo 
     se tiene que modificar el color escribiendolo en ingles
     */
     background-color: black;

     color: aliceblue; /*Color sirve para cambiar el color de la fuente*/

     background-image: url(https://i.blogs.es/50c5c1/netflix-catalogo/840_560.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     /*Poner una imagen de fondo que no se repita y que no quede espacio*/

}
/*Configurar el cuadro de usuario y contraseña*/
*{
    display: flex;
    flex-direction: column;
}

form#loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
}