*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}



.scrollActivo{
    height: 0;
}


.ulSlideBar, .logoSlideBar, .slideBarMobil, .menuSlideBar{
    display: none;
}


.menuBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 5%;
}

.miLogo {
    color: white;
    font-family: 'bungee';
    width: 40%;
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: flex-start;
}

.menuBar ul {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 10%;
    
}

.menuBar a{
    color: #00ffff;
    text-decoration: none;
}

header {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    transition: 0.3s;

}

.myTitle {
    width: 100%;
    background-color: #0d0d0d;
    border-bottom: 4px solid #00ffff26;
    border-top: 4px solid #00ffff26;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 5em;
}

.experience {
    background-color: #0d0d0d;
    border-bottom: 4px solid #00ffff26;
    border-top: 4px solid #00ffff26;
    color: white;
    height: auto;
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 5em;
    margin-top: 5em;
    margin-bottom: 5em;

}
.aboutMe {
    height: auto;
    width: 100%;
    align-items: center;
    background-color: #0d0d0d;
    border-bottom: 4px solid #00ffff26;
    border-top: 4px solid #00ffff26;
    color: white;
    margin-top: 5em;
    margin-bottom: 5em;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    transition: 1s;
}


.endPart {
    background-color: #0d0d0d;
    border-top: 4px solid #00ffff26;
    color: white;
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5em;
    gap: 10%;
}

.nameAndSpec {
    padding: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.myTitle img {
    padding: 1em;
    width: 50%;
    height: auto;
    object-fit: contain;
    align-content: center;
}

.myTitle h1 {
    font-size: clamp(3.5rem, 3.8vw, 4rem);
    font-family: 'Bungee';
    margin: 5px;
    color: #00ffff;
}

.myTitle h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    margin: 5px;
}


.Me1 {
    grid-area: 2 / 1 / 4 / 3;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    margin-left: 45px;
    height: 70%;
}
.Me1 p{
    text-align: justify;
    font-size: 20px;
}

.Me2 {
    grid-area: 4 / 1 / 5 / 3;
    font-size: 18px;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.Me2 img{
    width: 30px;
}

.Me3 {
    grid-area: 2 / 3 / 5 / 5;
    width: 100%;
    height: 90%;
    align-items: center;
   text-align: center;
   justify-content: center;
}

.Me3 img{
    width: 80%;
    height: 80%;
}


.slide{
    display: none;
}

.MeTitle{
    grid-area: 1 / 1 / 2 / 5;
    width: 100%;
    height: auto;
    align-content: center;
    text-align: center;;
    font-family: 'Bungee';
    font-size: clamp(3rem, 2rem, 4rem);
}




.contact a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    
}

.mypage2, .mypage1{
    display: flex;
    gap: 2%;
    align-content: center;
    align-items: center;

}


.experienceName1, .experienceName2, .experienceName3 {
    display: flex;
    width: 70%;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;

}
.experienceData1, .experienceData2, .experienceData3{
    padding: 2%;
    display: flex;
    text-align: start;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-left: 4px solid #00ffff;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.experienceImg1, .experienceImg2, .experienceImg3{
    padding: 5%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.experience img{
    height: 100%;
    width: 100%;
}

.experienceName1 p, .experienceName2 p, .experienceName3 p{
    display: flex;
    height: 60%;
    padding: 5%;
    align-items: center;
    align-content: center;
    justify-content: end;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.experienceData1 p, .experienceData2 p, .experienceData3 p{
    width: 90%;
    height: auto;
}

.experienceName1{grid-area: 1 / 1 / 3 / 2;}
.experienceName2{grid-area: 3 / 1 / 5 / 2;}
.experienceName3{grid-area: 5 / 1 / 7 / 2;}

.experienceData1{grid-area: 1 / 2 / 3 / 4;}
.experienceData2{grid-area: 3 / 2 / 5 / 4;}
.experienceData3{grid-area: 5 / 2 / 7 / 4;}

.experienceImg1{grid-area: 1 / 4 / 3 / 5;}
.experienceImg2{grid-area: 3 / 4 / 5 / 5; }
.experienceImg3{grid-area: 5 / 4 / 7 / 5;}



.endPart ul {
    color: rgba(255, 255, 255, 0.305);
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: 2%;
    list-style: none;
    
}
.endPart a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.382);
}
.endPart li{
    display: flex;
    align-items: center;
    gap: 5px;
}

.endPart p {
    
    text-align: center;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.201);
}

html::-webkit-scrollbar{
    width: var(--width, 10px);
    background: #353333be;
}

html::-webkit-scrollbar-thumb {
    background: #00ffff;
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:active{
    background: #00ffff6b;
}
html::-webkit-scrollbar-thumb:hover{
    background: #00ffff8c;
}
html::-webkit-scrollbar-button:single-button:vertical:decrement{
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg' fill='white'><polygon points='50,0 0,50 100,50'/></svg>");
    background-repeat: no-repeat;
    background-position: 2px 5px;
}
html::-webkit-scrollbar-button:single-button:vertical:decrement:hover{
    background-color: #00ffff;
}
html::-webkit-scrollbar-button:single-button:vertical:increment{
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg' fill='white'><polygon points='0,0 100,0 50,50'/></svg>");
    background-repeat: no-repeat;
    background-position: 2px 5px;
}
html::-webkit-scrollbar-button:single-button:vertical:increment:hover{
    background-color: #00ffff;
}

html{
    scroll-behavior: smooth;
}