@media screen and (width < 450px){
   
    header{
        display: none;
    }

    .slideBarMobil{
        width: 0;
    }
    
    .slideBarMobilslideActive{
        background-color: antiquewhite;
        margin-top: 0;
        margin-left: 0;
        position: fixed;
        height: 100vh;
        width: 12em;

        display: flex;
        flex-direction: column;
        transition: 2s;
       

    }
    .btnRegresar{
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: end;
        font-weight: bold;
        font-family: 'bungee';
        margin: 2px;
    }
    .scrollActivoBtn{
        height: 0;
    }
    
    .menuSlideBar{
        display: flex;
        width: 25%;
        text-align: center;
        justify-content: center;
        font-size: clamp(1.5rem, 1rem, 1.9rem);
        font-family: 'bungee';
        position: fixed;
        margin-top: 10px;
        margin-left: 10px;
        
        border-radius: 10px;
        background-color: aqua;
        
    }
    .ulSlideBar{
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        gap: 3em;
        height: 70%;
        
        
    }
    .ulSlideBar a{
        color: black;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
    
    }
    .logoSlideBar{
        font-family: 'Bungee';
        font-weight: bold;
        text-align: center;
        height: 10%;
        bottom: 0;
    }




    .aboutMe{
        align-items: center;
        align-content: center;
        text-align: center;
        justify-content: center;
    }
    .MeTitle{
        grid-area: 1 / 1 / 2 / 5;
       
    }
    .Me1{
        grid-area: 2 / 1 / 3 / 5;
        margin: 20px;
    }
    .Me3{
        
        grid-area: 3 / 1 / 5 / 5;
        height: 80%;
        z-index: 1;

    }
    .Me2{
        margin: 20px;
        width: 90%;
        grid-area: 4 / 1 / 5 / 5;
    }

    .contact {
        opacity: 0;
        position: absolute;
        z-index: 0;
    }
    

    .endPart {

    }
    .endPart p{
        white-space: normal;

    }

    .experience {}

}

@media(prefers-color-scheme: dark) {
    #root {
        --foreground-color: white;
        --background-color: black;
    }
}